$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1025px;
$xxl: 1400px;
$xxxl: 1920px;

$main-text-color: #343434;
$secondary-light-text-color: #979BAD;
$secondary-text-color: #6D6D6D;
$placeholder-text-color: #CCC;

$primary-color: #388AF3;

$white-color: #FFF;

$main-gradient: linear-gradient(93.29deg, #388AF3 21.04%, #A483E2 88.77%);

$main-border-color: #E2E2E2;
$secondary-border-color: #D3D3D3;

$error-color: #ff0000;

$main-box-shadow: 0px 3px 6px rgba(125, 145, 174, .2%);



